<!DOCTYPE html>
<html>
    <head>
        <base href="http://www.example.com/">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
            <style>
            p {
                margin-left: 10x;
                margin-right: 300px;
                text-align: justify;
                text-justify: inter-word; 
            }
        </style>
    </head>
    <body>
        <p>Selamat! </p>
        <p>Anda sekarang menjadi anggota <br> Mola Live Arena</p>
        <p> Hai,{{ .VenueName}}<br></p>
        <p>  Terlampir dalam email ini adalah sertifikat keanggotaan. Silakan cetak, dan gunting kode QR <br>
             untuk ditempatkan pada stiker keanggotaan Mola Live Arena yang disediakan yang harus Anda <br>tempatkan 
             di dalam venue. Validator dari Mola Live Arena akan datang dan memeriksa validitas <br> keanggotaan 
             Mola Live Arena Anda melalui kode QR ini.  Jadi, pastikan kode QR tersedia di venue <br> setiap saat 
             selama periode keanggotaan. Kami berharap Mola Live Arena dapat membantu memberikan <br> nilai tambahan 
             bagi pendirian Anda. <br>
            Salam Hormat, MOLA TV.</p>
            <br>
        <p > Terima kasih telah bergabung dengan Mola Live Arena. <br>
             Kami bertujuan untuk memberikan Anda dan pelanggan Anda <br>
             dengan konten olahraga dan hiburan terbaik atau pertanyaan,
             </p>
        <br>
        <p>silakan hubungi kami melalui:</p>
        <p >Telepon&nbsp;:&nbsp;+62 21 2212 2534</p>
        <p >Email&nbsp;:&nbsp;info@molalivearena.com</p>
        <p>Whatsapp&nbsp;:&nbsp;+62 812 8200 7043</p>
    </body>
</html>