<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta content="width=2400, maximum-scale=1.0" name="viewport"/>
        <link href="./css/artboard.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:600,400" rel="stylesheet" type="text/css"/>
        </meta>
        <style>
            .artboard {
            width               : 100%;
            min-width           : 2400px;
            height              : 100vh;
            min-height          : 3915px;
            position            : relative;
            overflow            : hidden;
            margin              : 0px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            background-color    : rgba(255, 255, 255, 1.0);
            }
            a {
            text-decoration     : none;
            }
            div {
            -webkit-text-size-adjust: none;
            }
            .anima-full-width-a {
            width               : 100%;
            }
            .anima-full-height-a {
            height              : 100%;
            }
            div {
            -webkit-text-size-adjust: none;
            }
            .artboard .background {
            background-color    : rgba(255,255,255,0.0);
            top                 : 0px;
            height              : 4200px;
            width               : 2400px;
            position            : absolute;
            margin              : 0;
            left                : 0px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            }
            .artboard .group3 {
            background-color    : rgba(255,255,255,0.0);
            top                 : -1px;
            height              : 1066px;
            width               : 2422px;
            position            : absolute;
            margin              : 0;
            left                : -13px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            }
            .artboard .group3 .shape2 {
            background-color    : rgba(255,255,255,0.0);
            top                 : 381px;
            height              : 655px;
            width               : 1888px;
            position            : absolute;
            margin              : 0;
            left                : 534px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            }
            .artboard .group3 .shape1 {
            background-color    : rgba(255,255,255,0.0);
            top                 : 0px;
            height              : 1066px;
            width               : 2422px;
            position            : absolute;
            margin              : 0;
            left                : 0px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            }
            .artboard .group3 .layer1 {
            background-color    : rgba(255,255,255,0.0);
            top                 : 147px;
            height              : 411px;
            width               : 870px;
            position            : absolute;
            margin              : 0;
            left                : 1303px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            }
            .artboard .group3 .group1 {
            background-color    : rgba(255,255,255,0.0);
            top                 : 311px;
            height              : 248px;
            width               : 769px;
            position            : absolute;
            margin              : 0;
            left                : 253px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            }
            .artboard .group3 .group1 .congratulations {
            background-color    : rgba(255,255,255,0.0);
            top                 : 0px;
            height              : auto;
            width               : 794px;
            position            : absolute;
            margin              : 0;
            left                : 5px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            font-family         : "Open Sans", Helvetica, Arial, serif;
            font-weight         : 600;
            font-style          : normal;
            font-size           : 91.67px;
            color               : rgba(255, 255, 255, 1.0);
            text-align          : left;
            line-height         : 125.0px;
            }
            .artboard .group3 .group1 .youarenowamemberofu2019molalivearena {
            background-color    : rgba(255,255,255,0.0);
            top                 : 134px;
            height              : auto;
            width               : 676px;
            position            : absolute;
            margin              : 0;
            left                : 0px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            font-family         : "Open Sans", Helvetica, Arial, serif;
            font-weight         : 400;
            font-style          : normal;
            font-size           : 50.0px;
            color               : rgba(255, 255, 255, 1.0);
            text-align          : left;
            line-height         : 66.67px;
            }
            .artboard .shape1copy {
            background-color    : rgba(255,255,255,0.0);
            top                 : 2485px;
            height              : 1457px;
            width               : 2422px;
            position            : absolute;
            margin              : 0;
            left                : -13px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            }
            .artboard .hivenuename {
            background-color    : rgba(255,255,255,0.0);
            top                 : 1090px;
            height              : auto;
            width               : 599px;
            position            : absolute;
            margin              : 0;
            left                : 231px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            font-family         : "Open Sans", Helvetica, Arial, serif;
            font-weight         : 600;
            font-style          : normal;
            font-size           : 66.67px;
            color               : rgba(17, 17, 17, 1.0);
            text-align          : center;
            line-height         : 91.0px;
            }
            .artboard .attachedinthisemailisthecertificateofmembershipplease {
            background-color    : rgba(255,255,255,0.0);
            top                 : 1417px;
            height              : auto;
            width               : 1938px;
            position            : absolute;
            margin              : 0;
            left                : 240px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            font-family         : "Open Sans", Helvetica, Arial, serif;
            font-weight         : 400;
            font-style          : normal;
            font-size           : 50.0px;
            color               : rgba(102, 102, 102, 1.0);
            text-align          : left;
            line-height         : 75.0px;
            }
            .artboard .wehopethatmolalivearenacanhelpbringingadditionalvalue {
            background-color    : rgba(255,255,255,0.0);
            top                 : 3167px;
            height              : auto;
            width               : 1804px;
            position            : absolute;
            margin              : 0;
            left                : 248px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            font-family         : "Open Sans", Helvetica, Arial, serif;
            font-weight         : 400;
            font-style          : normal;
            font-size           : 50.0px;
            color               : rgba(255, 255, 255, 1.0);
            text-align          : left;
            line-height         : 75.0px;
            }
            .artboard .bestregards {
            background-color    : rgba(255,255,255,0.0);
            top                 : 3401px;
            height              : auto;
            width               : 344px;
            position            : absolute;
            margin              : 0;
            left                : 1037px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            font-family         : "Open Sans", Helvetica, Arial, serif;
            font-weight         : 400;
            font-style          : normal;
            font-size           : 50.0px;
            color               : rgba(255, 255, 255, 1.0);
            text-align          : center;
            line-height         : 75.0px;
            }
            .artboard .molatv {
            background-color    : rgba(255,255,255,0.0);
            top                 : 3706px;
            height              : auto;
            width               : 248px;
            position            : absolute;
            margin              : 0;
            left                : 1086px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            font-family         : "Open Sans", Helvetica, Arial, serif;
            font-weight         : 400;
            font-style          : normal;
            font-size           : 50.0px;
            color               : rgba(255, 255, 255, 1.0);
            text-align          : center;
            line-height         : 75.0px;
            }
            .artboard .thankyouforjoiningmolalivearenaweaimtoprovideyouan {
            background-color    : rgba(255,255,255,0.0);
            top                 : 1198px;
            height              : auto;
            width               : 1843px;
            position            : absolute;
            margin              : 0;
            left                : 240px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            font-family         : "Open Sans", Helvetica, Arial, serif;
            font-weight         : 400;
            font-style          : normal;
            font-size           : 50.0px;
            color               : rgba(102, 102, 102, 1.0);
            text-align          : left;
            line-height         : 75.0px;
            }
            .artboard .oranyquestionspleasecontactusthrough {
            background-color    : rgba(255,255,255,0.0);
            top                 : 2143px;
            height              : auto;
            width               : 1340px;
            position            : absolute;
            margin              : 0;
            left                : 529px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            font-family         : "Open Sans", Helvetica, Arial, serif;
            font-weight         : 600;
            font-style          : normal;
            font-size           : 58.33px;
            color               : rgba(17, 17, 17, 1.0);
            text-align          : center;
            line-height         : 75.0px;
            }
            .artboard .phone {
            background-color    : rgba(255,255,255,0.0);
            top                 : 2315px;
            height              : 762px;
            width               : 738px;
            position            : absolute;
            margin              : 0;
            left                : 171px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            }
            .artboard .phone .rectangle3 {
            background-color    : rgba(255,255,255,0.0);
            top                 : 0px;
            height              : 762px;
            width               : 738px;
            position            : absolute;
            margin              : 0;
            left                : 0px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            }
            .artboard .phone .ellipse1 {
            background-color    : rgba(255,255,255,0.0);
            top                 : 188px;
            height              : 152px;
            width               : 152px;
            position            : absolute;
            margin              : 0;
            left                : 293px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            opacity             : 0.5;
            }
            .artboard .phone .layer2 {
            background-color    : rgba(255,255,255,0.0);
            top                 : 224px;
            height              : 80px;
            width               : 80px;
            position            : absolute;
            margin              : 0;
            left                : 329px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            }
            .artboard .phone .phone1 {
            background-color    : rgba(255,255,255,0.0);
            top                 : 383px;
            height              : auto;
            width               : 130px;
            position            : absolute;
            margin              : 0;
            left                : 305px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            font-family         : "Open Sans", Helvetica, Arial, serif;
            font-weight         : 400;
            font-style          : normal;
            font-size           : 33.33px;
            color               : rgba(255, 255, 255, 1.0);
            text-align          : center;
            line-height         : 46.0px;
            }
            .artboard .phone .a622122122534 {
            background-color    : rgba(255,255,255,0.0);
            top                 : 456px;
            height              : auto;
            width               : 389px;
            position            : absolute;
            margin              : 0;
            left                : 176px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            font-family         : "Open Sans", Helvetica, Arial, serif;
            font-weight         : 400;
            font-style          : normal;
            font-size           : 41.67px;
            color               : rgba(255, 255, 255, 1.0);
            text-align          : center;
            line-height         : 57.0px;
            }
            .artboard .email {
            background-color    : rgba(255,255,255,0.0);
            top                 : 2265px;
            height              : 862px;
            width               : 738px;
            position            : absolute;
            margin              : 0;
            left                : 831px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            }
            .artboard .email .rectangle3 {
            background-color    : rgba(255,255,255,0.0);
            top                 : 0px;
            height              : 862px;
            width               : 738px;
            position            : absolute;
            margin              : 0;
            left                : 0px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            }
            .artboard .email .ellipse1 {
            background-color    : rgba(255,255,255,0.0);
            top                 : 238px;
            height              : 152px;
            width               : 152px;
            position            : absolute;
            margin              : 0;
            left                : 293px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            opacity             : 0.5;
            }
            .artboard .email .layer3 {
            background-color    : rgba(255,255,255,0.0);
            top                 : 276px;
            height              : 76px;
            width               : 92px;
            position            : absolute;
            margin              : 0;
            left                : 323px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            }
            .artboard .email .email1 {
            background-color    : rgba(255,255,255,0.0);
            top                 : 433px;
            height              : auto;
            width               : 114px;
            position            : absolute;
            margin              : 0;
            left                : 313px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            font-family         : "Open Sans", Helvetica, Arial, serif;
            font-weight         : 400;
            font-style          : normal;
            font-size           : 33.33px;
            color               : rgba(255, 255, 255, 1.0);
            text-align          : center;
            line-height         : 46.0px;
            }
            .artboard .email .infomolalivearenacom {
            background-color    : rgba(255,255,255,0.0);
            top                 : 510px;
            height              : auto;
            width               : 531px;
            position            : absolute;
            margin              : 0;
            left                : 104px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            font-family         : "Open Sans", Helvetica, Arial, serif;
            font-weight         : 400;
            font-style          : normal;
            font-size           : 41.67px;
            color               : rgba(255, 255, 255, 1.0);
            text-align          : center;
            line-height         : 57.0px;
            }
            .artboard .whatsapp {
            background-color    : rgba(255,255,255,0.0);
            top                 : 2315px;
            height              : 762px;
            width               : 738px;
            position            : absolute;
            margin              : 0;
            left                : 1491px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            }
            .artboard .whatsapp .rectangle3 {
            background-color    : rgba(255,255,255,0.0);
            top                 : 0px;
            height              : 762px;
            width               : 738px;
            position            : absolute;
            margin              : 0;
            left                : 0px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            }
            .artboard .whatsapp .ellipse1 {
            background-color    : rgba(255,255,255,0.0);
            top                 : 188px;
            height              : 152px;
            width               : 152px;
            position            : absolute;
            margin              : 0;
            left                : 293px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            opacity             : 0.5;
            }
            .artboard .whatsapp .combinedshape62 {
            background-color    : rgba(255,255,255,0.0);
            top                 : 217px;
            height              : 94px;
            width               : 94px;
            position            : absolute;
            margin              : 0;
            left                : 322px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            }
            .artboard .whatsapp .whatsapp1 {
            background-color    : rgba(255,255,255,0.0);
            top                 : 390px;
            height              : auto;
            width               : 193px;
            position            : absolute;
            margin              : 0;
            left                : 272px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            font-family         : "Open Sans", Helvetica, Arial, serif;
            font-weight         : 400;
            font-style          : normal;
            font-size           : 33.33px;
            color               : rgba(255, 255, 255, 1.0);
            text-align          : center;
            line-height         : 46.0px;
            }
            .artboard .whatsapp .a6281282007043 {
            background-color    : rgba(255,255,255,0.0);
            top                 : 456px;
            height              : auto;
            width               : 411px;
            position            : absolute;
            margin              : 0;
            left                : 164px;
            -ms-transform       : rotate(0deg); /* IE 9 */
            -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
            transform           : rotate(0deg);
            font-family         : "Open Sans", Helvetica, Arial, serif;
            font-weight         : 400;
            font-style          : normal;
            font-size           : 41.67px;
            color               : rgba(255, 255, 255, 1.0);
            text-align          : center;
            line-height         : 57.0px;
            }
            /* .anima-animate-appear prefix for appear animations */
            .anima-animate-appear {
            opacity             : 0;
            display             : block;
            -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
            -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
            -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
            animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
            }
            .anima-animate-disappear {
            opacity             : 1;
            display             : block;
            -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
            -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
            -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
            animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
            }
            .anima-animate-nodelay {
            -webkit-animation-delay: 0;
            -moz-animation-delay: 0;
            -o-animation-delay  : 0;
            animation-delay     : 0;
            }
            @-webkit-keyframes anima-reveal {
            0%
            
            {
                opacity: 0;
                }
            
                
            100%
            
            {
                opacity: 1;
                }
            }
            @-moz-keyframes anima-reveal {
            0%
            
            {
                opacity: 0;
                }
            
                
            100%
            
            {
                opacity: 1;
                }
            }
            @-o-keyframes anima-reveal {
            0%
            
            {
                opacity: 0;
                }
            
                
            100%
            
            {
                opacity: 1;
                }
            }
            @keyframes anima-reveal {
            0%
            
            {
                opacity: 0;
                }
            
                
            100%
            
            {
                opacity: 1;
                }
            }
        </style>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="artboard"/>
        <div class="artboard">
            <div style="width: 2400px; height: 100%; position:relative; margin:auto;">
                <img src="data:image/png;base64,{{.Artboardbackground}}" class="background" />
                <div class="group3">
                    <img src="data:image/png;base64,{{.Artboardshape2}}" class="shape2" />
                    <img src="data:image/png;base64,{{.Artboardshape1}}" class="shape1" />
                    <img src="data:image/png;base64,{{.Artboardlayer1}}" class="layer1" />
                    <div class="group1">
                        <div class="congratulations">
                            Congratulations!
                        </div>
                        <div class="youarenowamemberofu2019molalivearena">
                            You are now a member of’
Mola Live Arena.
                        </div>
                    </div>
                </div>
                <img src="data:image/png;base64,{{.Artboardshape1copy}}" class="shape1copy" />
                <div class="hivenuename">
                    Hi, {{ .VenueName }}
                </div>
                <div class="attachedinthisemailisthecertificateofmembershipplease">
                    Attached in this email is the certificate of membership. Please print it, and cut out the QR code to be placed on the provided Mola Live Arena membership sticker that you must place inside the venue. 

Validators from Mola Live Arena will come and inspect the validity of your Mola Live Arena membership through this QR code. So please make sure that the QR code is available on the venue  at all times during the membership period.
                </div>
                <div class="wehopethatmolalivearenacanhelpbringingadditionalvalue">
                    We hope that Mola Live Arena can help bringing additional value to your establishment.
                </div>
                <div class="bestregards">
                    Best Regards
                </div>
                <div class="molatv">
                    MOLA TV
                </div>
                <div class="thankyouforjoiningmolalivearenaweaimtoprovideyouan">
                    Thank you for joining Mola Live Arena. We aim to provide
you and your customers with the best sports and entertainment contents.
                </div>
                <div class="oranyquestionspleasecontactusthrough">
                    or any questions, please contact us through:
                </div>
                <div class="phone">
                    <img src="data:image/png;base64,{{.Artboardrectangle3}}" class="rectangle3" />
                    <img src="data:image/png;base64,{{.Artboardellipse12x}}" class="ellipse1" />
                    <img src="data:image/png;base64,{{.Artboardlayer22x}}" class="layer2" />
                    <div class="phone1">
                        Phone
                    </div>
                    <div class="a622122122534">
                        +62 21 2212 2534
                    </div>
                </div>
                <div class="email">
                    <img src="data:image/png;base64,{{.Artboardrectangle31}}" class="rectangle3" />
                    <img src="data:image/png;base64,{{.Artboardellipse12x}}" class="ellipse1" />
                    <img src="data:image/png;base64,{{.Artboardlayer32x}}" class="layer3" />
                    <div class="email1">
                        Email
                    </div>
                    <div class="infomolalivearenacom">
                        info@molalivearena.com
                    </div>
                </div>
                <div class="whatsapp">
                    <img src="data:image/png;base64,{{.Artboardrectangle32}}" class="rectangle3" />
                    <img src="data:image/png;base64,{{.Artboardellipse12x}}" class="ellipse1" />
                    <img src="data:image/png;base64,{{.Artboardcombinedshape622x}}" class="combinedshape62" />
                    <div class="whatsapp1">
                        Whatsapp
                    </div>
                    <div class="a6281282007043">
                        +62 812 8200 7043
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
