<html>
    <head>
        <base href="http://www.example.com/">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <style>
            body {
                margin: 0;
            }
            .containerbg {
                position: center;
                overflow: hidden;
            }
            .imgBg {
                object-fit: cover;
                object-position: center;
                width:100%;
                z-index: -100;
            }
            .columns1 {
                float: left;
                width: 40%;
                padding: 15px;
            }
            .columns {
                float: left;
                width: 60%;
                padding: 15px;
                color:#f60;
            }
            .row::after {
                content: "";
                clear: both;
                display: table;
            }
            .row {
                position: absolute;
                top: 800px;
                left: 0;
                width: 100%;
                color: rgb(255, 255, 255);
            }
        </style>
    </head>
    <body>
        <div class="containerbg">
            <img src="data:image/png;base64,{{.Background}}" class="imgBg">
        </div>
        <p align="center" style="color: rgb(255, 255, 255);
            font-size: 48px;
            font-family: cursive;
            position: absolute;
            top: 420px;
            left: 0;
            width: 100%;">{{ .VenueName }}</p>
        <div class="row">
                <div class="columns1">
                    <img src="data:image/png;base64,{{.QrBase64}}" width="100px" height="100px" align="right">
                </div>
                <div class="columns" style="color:#fff;">
                    <p><br>{{ .VenueName }}<br>{{ .Address }}<br>{{ .City }} &nbsp;{{ .Province }}&nbsp;,&nbsp; {{ .Zip }}</p>
                </div>
            </div>
        </div>
    </body>
</html>